.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.info {
    margin: 20px 0;
}
.info p {
    margin: 15px 0
}

.person {
    font-weight: bold;
    margin-left: 20px;
}

.button {
    display: flex;
    justify-content: center;
}
