.btn{
    width: -webkit-fill-available;
    height: 60px;
    margin: 20px;
    border: 0;
    background-color: #C4C4C4 ;
    justify-content: center;
    align-content: center;
    font: inherit;
}

.btn:disabled {
    background-color: rgb(220, 220, 220) ;
}

.btn:active {
    background-color: rgb(180, 180, 180) ;
}