
.content {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 40px; */
    /* background-color: blue; */
    height: 20%;
    /* margin-top: 20px; */
    padding-top: 40px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    grid-area: b;
    /* background-color: aqua; */
    height: 52%;
}

.text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    /* width: 100%; */
}

.btnContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.logout {
    margin-top: 10px;
    align-self: center;
    text-decoration: underline;
    border: none;
    background: none;

}