.container {
    display: flex;
    width: 95%;
    margin: 0 auto;
}



/* Progress bar element */
.fill {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.elementText {
    text-align: center;
}