:root {
  --white: #fff;
  --black: #000;
  --grey_bg: #EFEFEF;
  --info_blue: #1C77FF;
  --blue_bg: #E7EDFF;
  --red_error: #FF8B8B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: calc(100vh - 20px);
  flex-direction: column;
}

body {
  margin-bottom: 20px;
}

.wrapper {
  flex:1;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
