
.income-text-body {
    margin: 3% 0 4% 5%;
    white-space: pre-line;
    font-size: 16px;
}

.income-applicants {
    /* margin: 0% 0 1% 5%; */
    list-style-type:circle;
    margin: 0% 0 1% 10%;
    list-style-position: inside;
    font-weight: 700;
}